Source: hdctools
Section: unknown
Priority: optional
Maintainer: Heiko Stuebner <mmind@debian.org>
Build-Depends: debhelper (>= 9), dh-exec (>= 0.3), libusb-dev, libftdi1-dev, tidy, dh-python, python-all, python-setuptools, pkg-config
Standards-Version: 3.9.6
Homepage: https://chromium.googlesource.com/chromiumos/third_party/hdctools/
Vcs-Git: git://anonscm.debian.org/collab-maint/hdctools.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/hdctools.git

Package: python-hdctools-servo
Architecture: any
Depends: python-usb, python-pexpect, python-numpy, python-ec3po, libftdi1-2, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
